Repository mindspore-lab/mindone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @vigo999 will be requested for review when someone opens a pull request.
* @vigo999

# Order is important; the last matching pattern takes the most precedence.

# Any change inside the `/examples` directory at the root of the repository and any of its subdirectories will require approval from @CaitinZhao, @SamitHuang or @zhanghuiyao.
/examples/ @CaitinZhao @SamitHuang @zhanghuiyao

# @vigo999 owns any file in an `diffusers`, `transformers`, `peft` and `safetensors` directory anywhere in the repository.
diffusers/ @vigo999
transformers/ @vigo999
peft/ @vigo999
safetensors/ @vigo999

# @vigo999 owns any file about the repository settings.
/.* @vigo999
/docs/ @vigo999
/mkdocs.yml @vigo999
/pyproject.toml @vigo999

# @global-owners own any file except for the following list, as their owners are left empty.
/*.md

feat(transformers): add qwen2 model (#833)
  examples/transformers/qwen/generate.py
  mindone/transformers/__init__.py
  mindone/transformers/modeling_utils.py
  mindone/transformers/models/qwen2/__init__.py
  mindone/transformers/models/qwen2/modeling_qwen2.py
Owners: @vigo999

Deployed dfc08b92 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
  0.2/sitemap.xml
  0.2/sitemap.xml.gz
Owners: @vigo999

update
  examples/diffusers/cogvideox_factory/README.md
  examples/diffusers/cogvideox_factory/scripts/cogvideox_text_to_video_sft.py
Owners: @vigo999

lpips add self defined vgg
  tools/t2v_curation/pipeline/scoring/lpips/inference.py
  tools/t2v_curation/pipeline/scoring/lpips/lpips.py
  tools/t2v_curation/pipeline/scoring/lpips/vgg.py
Owners: @vigo999

qwen2vl fix, synchronize for stability
  tools/t2v_curation/pipeline/captioning/caption_qwen2vl.py
Owners: @vigo999

fix runner & config
  tools/t2v_curation/config/config.json
  tools/t2v_curation/config/config.yaml
  tools/t2v_curation/script/pipeline_runner.py
Owners: @vigo999

fix datautil safety check & split mechanism
  tools/t2v_curation/pipeline/datasets/datautil.py
Owners: @vigo999

update readme config
  tools/t2v_curation/README.md
Owners: @vigo999

add requirement
  tools/t2v_curation/requirements.txt
Owners: @vigo999

feat(diffusers): update the method of loading from v0.30.3 to v0.31.0 (#849)
  mindone/diffusers/models/model_loading_utils.py
  mindone/diffusers/models/modeling_utils.py
  mindone/diffusers/pipelines/pipeline_loading_utils.py
  mindone/diffusers/pipelines/pipeline_utils.py
Owners: @vigo999

Deployed 31375120 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
  0.2/diffusers/api/models/overview/index.html
  0.2/diffusers/api/outputs/index.html
  0.2/diffusers/api/pipelines/consistency_models/index.html
  0.2/diffusers/api/pipelines/dance_diffusion/index.html
  0.2/diffusers/api/pipelines/ddim/index.html
  0.2/diffusers/api/pipelines/ddpm/index.html
  0.2/diffusers/api/pipelines/dit/index.html
  0.2/diffusers/api/pipelines/latent_diffusion/index.html
  0.2/diffusers/api/pipelines/overview/index.html
  0.2/diffusers/api/pipelines/unclip/index.html
Owners: @vigo999

revert changes in lpips
  tools/t2v_curation/pipeline/scoring/lpips/inference.py
  tools/t2v_curation/pipeline/scoring/lpips/lpips.py
  tools/t2v_curation/pipeline/scoring/lpips/vgg.py
Owners: @vigo999

add ms2.5.0 performance
  examples/qwen2_vl/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

update
  examples/diffusers/cogvideox_factory/scripts/args.py
Owners: @vigo999

update README
  examples/qwen2_vl/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

avoid oom
  mindone/diffusers/models/model_loading_utils.py
  mindone/diffusers/models/modeling_utils.py
  mindone/transformers/modeling_utils.py
Owners: @vigo999

update and refactor
  examples/janus/janus/models/modeling_vlm.py
  examples/janus/janus/train/t2i_dataset.py
  examples/janus/tests/test_dataset.py
  examples/janus/train.py
  mindone/transformers/mindspore_adapter/clip_grad.py
  mindone/transformers/models/llama/modeling_llama.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao, @vigo999

feat(transformers): add Qwen2-VL model; add DynamicCache to generate pipeline (#853)
  examples/qwen2_vl/README.md
  examples/qwen2_vl/requirements.txt
  examples/qwen2_vl/test_vqa.py
  examples/qwen2_vl/video_understanding.py
  mindone/transformers/__init__.py
  mindone/transformers/cache_utils.py
  mindone/transformers/generation/utils.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/qwen2_vl/__init__.py
  mindone/transformers/models/qwen2_vl/modeling_qwen2_vl.py
  mindone/transformers/models/qwen2_vl/qwen_vl_utils/__init__.py
  mindone/transformers/models/qwen2_vl/qwen_vl_utils/vision_process.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao, @vigo999

Deployed 7cc009d0 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
Owners: @vigo999

lpips minor fix
  tools/t2v_curation/pipeline/scoring/lpips/inference.py
Owners: @vigo999

option matching fix csv name parsing
  tools/t2v_curation/pipeline/scoring/matching/inference.py
Owners: @vigo999

fix(diffusers): fix bug that relies on torch
  mindone/diffusers/models/__init__.py
  mindone/diffusers/pipelines/latent_diffusion/pipeline_latent_diffusion.py
Owners: @vigo999

vqa data
  examples/emu3/emu3/train/datasets.py
  examples/emu3/emu3/train/prepare_vision_data.py
  examples/emu3/emu3/train/prepare_vqa_data.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

speed up
  examples/wan2_1/wan/modules/model.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

update README
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

speed up model load from diffusers
  examples/wan2_1/wan/diffusers/models/model_loading_utils.py
  examples/wan2_1/wan/diffusers/models/modeling_utils.py
  examples/wan2_1/wan/modules/model.py
Owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

Update README.md
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

Revert "speed up model load from diffusers"
  examples/wan2_1/wan/diffusers/models/model_loading_utils.py
  examples/wan2_1/wan/diffusers/models/modeling_utils.py
  examples/wan2_1/wan/modules/model.py
Owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

debug sp
  examples/emu3/emu3/acceleration/__init__.py
  examples/emu3/emu3/acceleration/communications.py
  examples/emu3/emu3/acceleration/parallel_states.py
  examples/emu3/emu3/mllm/modeling_emu3.py
  examples/emu3/emu3/tests/test_seq_parallel.py
  examples/emu3/emu3/train/datasets.py
  examples/emu3/emu3/train/train.py
  examples/emu3/emu3/train/train_seq_parallel.py
  examples/emu3/requirements.txt
  examples/emu3/scripts/t2i_sft_single_ms.sh
  examples/emu3/scripts/t2i_sft_single_trainer.sh
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

minor fix: num frame points
  tools/t2v_curation/pipeline/scoring/utils.py
Owners: @vigo999

rm redundant pyav video read
  tools/t2v_curation/pipeline/datasets/utils.py
Owners: @vigo999

add text SFT
  examples/janus/janus/models/modeling_vlm.py
  examples/janus/janus/train/t2i_dataset.py
  examples/janus/scripts/run_sft_text.sh
  examples/janus/tests/test_dataset.py
  examples/janus/train.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

support prompt extension
  examples/wan2_1/generate.py
  examples/wan2_1/requirements.txt
  examples/wan2_1/wan/utils/prompt_extend.py
  mindone/transformers/__init__.py
  mindone/transformers/generation/logits_process.py
  mindone/transformers/generation/utils.py
  mindone/transformers/modeling_rope_utils.py
  mindone/transformers/modeling_utils.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/qwen2/modeling_qwen2.py
  mindone/transformers/models/qwen2_5_vl/__init__.py
  mindone/transformers/models/qwen2_5_vl/modeling_qwen2_5_vl.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao, @vigo999

add file
  examples/janus/janus/train/text_dataset.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

update README & minor bug fix
  examples/wan2_1/README.md
  examples/wan2_1/generate.py
  examples/wan2_1/wan/utils/prompt_extend.py
  mindone/transformers/models/qwen2_5_vl/modeling_qwen2_5_vl.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao, @vigo999

add_audio_utils
  mindone/transformers/audio_utils.py
Owners: @vigo999

feat(examples/qwq): support qwq-32b inference
  examples/qwen/qwq/qwq_32B_generate.py
  mindone/transformers/models/qwen2/modeling_qwen2.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao, @vigo999

feat(examples/cogview): add cogview4
  docs/diffusers/api/pipelines/cogview4.md
  examples/cogview/README.md
  examples/cogview/inference/cli_demo_cogview4.py
Owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(examples/qwq): support qwq-32b inference
  examples/qwen/qwq/README.md
  examples/qwen/qwq/qwq_32B_generate.py
  examples/qwen/qwq/requirements.txt
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(examples/qwq): support qwq-32b inference
  examples/qwen/qwq/README.md
  examples/qwen/qwq/qwq_32B_generate.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao
