Repository mindspore-lab/mindone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @vigo999 will be requested for review when someone opens a pull request.
* @vigo999

# Order is important; the last matching pattern takes the most precedence.

# Any change inside the `/examples` directory at the root of the repository and any of its subdirectories will require approval from @CaitinZhao, @SamitHuang or @zhanghuiyao.
/examples/ @CaitinZhao @SamitHuang @zhanghuiyao

# @vigo999 owns any file in an `diffusers`, `transformers`, `peft` and `safetensors` directory anywhere in the repository.
diffusers/ @vigo999
transformers/ @vigo999
peft/ @vigo999
safetensors/ @vigo999

# @vigo999 owns any file about the repository settings.
/.* @vigo999
/docs/ @vigo999
/mkdocs.yml @vigo999
/pyproject.toml @vigo999

# @global-owners own any file except for the following list, as their owners are left empty.
/*.md

add test dataloader for janus-pro
  examples/janus/tests/test_dataloader/meta_data.jsonl
  examples/janus/tests/test_dataloader/multimodal_understanding_dataset/annotation.jsonl
  examples/janus/tests/test_dataloader/pure_text_dataset/annotation.jsonl
  examples/janus/tests/test_dataloader/test_dataloader.py
  examples/janus/tests/test_dataloader/text_to_image_dataset/annotation.jsonl
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(transformers): Support AutoModel series/ImageProcessor/FeatureExtrator (#836)
  mindone/transformers/__init__.py
  mindone/transformers/feature_extraction_sequence_utils.py
  mindone/transformers/feature_extraction_utils.py
  mindone/transformers/generation/__init__.py
  mindone/transformers/image_processing_base.py
  mindone/transformers/image_processing_utils.py
  mindone/transformers/image_processing_utils_fast.py
  mindone/transformers/image_transforms.py
  mindone/transformers/image_utils.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/__init__.py
  mindone/transformers/models/auto/auto_factory.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/image_processing_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/processing_utils.py
  mindone/transformers/utils/__init__.py
  mindone/transformers/utils/constants.py
  mindone/transformers/utils/generic.py
  mindone/transformers/utils/import_utils.py
Owners: @vigo999

remove legacy files
  examples/opensora_pku/docs/performance_boosting_history.md
  examples/opensora_pku/docs/training_args.md
  examples/opensora_pku/scripts/text_condition/multi-devices/train_video3d_29x720p_zero2_sp_multi_node.sh
  examples/opensora_pku/scripts/text_condition/multi-devices/train_video3d_nx480p_zero2_multi_node.sh
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

change "repeat" to "repeat_interleave" and "tile" uniformly (#827)
  examples/animatediff/ad/modules/attention.py
  examples/animatediff/ad/modules/diffusionmodules/util.py
  examples/animatediff/ad/utils/cond_data.py
  examples/dynamicrafter/lvdm/modules/attention.py
  examples/dynamicrafter/lvdm/modules/networks/util.py
  examples/instantmesh/models/renderer/synthesizer.py
  examples/magvit/tools/inflate_vae2d_to_3d.py
  examples/opensora_hpcai/opensora/utils/cond_data.py
  examples/opensora_pku/opensora/eval/cal_fvd.py
  examples/opensora_pku/opensora/eval/cal_lpips.py
  examples/opensora_pku/opensora/models/causalvideovae/model/modules/quant.py
  examples/stable_diffusion_v2/depth_to_image.py
  examples/stable_diffusion_v2/inference/sd_lite_infer.py
  examples/stable_diffusion_v2/inpaint.py
  examples/stable_diffusion_v2/ldm/modules/diffusionmodules/util.py
  examples/story_diffusion/utils/pipeline.py
  examples/sv3d/modules/temporal_ae.py
  examples/sv3d/sgm/modules/diffusionmodules/guiders.py
  examples/sv3d/simple_video_sample.py
  examples/svd/models/diffusion.py
  examples/svd/modules/diffusionmodules/guiders.py
  examples/svd/modules/encoders/modules.py
  examples/svd/modules/temporal_ae.py
  examples/svd/modules/unet3d.py
  examples/videocomposer/vc/models/attention.py
  mindone/models/dit.py
  mindone/models/mmdit.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao, @vigo999

Deployed 15c8e346 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
Owners: @vigo999

fix SP in wan2_1
  examples/wan2_1/wan/modules/model.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

add_musicldm
  mindone/diffusers/__init__.py
  mindone/diffusers/pipelines/__init__.py
  mindone/diffusers/pipelines/musicldm/__init__.py
  mindone/diffusers/pipelines/musicldm/pipeline_musicldm.py
  mindone/diffusers/pipelines/pipeline_loading_utils.py
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/clap/__init__.py
  mindone/transformers/models/clap/feature_extraction_clap.py
  mindone/transformers/models/clap/modeling_clap.py
  mindone/transformers/models/speecht5/__init__.py
  mindone/transformers/models/speecht5/modeling_speecht5.py
Owners: @vigo999

update README
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(transformers): replace ops to mint for better alignment
  mindone/transformers/models/qwen2/modeling_qwen2.py
Owners: @vigo999

qwen2vl FA support
  tools/t2v_curation/pipeline/captioning/caption_qwen2vl.py
Owners: @vigo999

update
  examples/diffusers/cogvideox_factory/infer.py
  examples/diffusers/cogvideox_factory/train_text_to_video_lora.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_sft.sh
  examples/diffusers/cogvideox_factory/training/cogvideox_text_to_video_lora.py
  examples/diffusers/cogvideox_factory/training/cogvideox_text_to_video_sft.py
Owners: @vigo999

[Bug Fix] fix SP in wan2_1 (#860)
  examples/wan2_1/README.md
  examples/wan2_1/wan/modules/model.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

Deployed 2e7a9bd4 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
Owners: @vigo999

fix callback & zero bugs
  docs/tools/zero.md
  mindone/trainers/callback.py
Owners: @vigo999

rm redundant, update README
  tools/t2v_curation/README.md
  tools/t2v_curation/cmd_guide.md
  tools/t2v_curation/pipeline/captioning/README.md
  tools/t2v_curation/pipeline/captioning/caption_pllava.py
  tools/t2v_curation/pipeline/captioning/pllava/models/__init__.py
  tools/t2v_curation/pipeline/captioning/pllava/models/pllava/__init__.py
  tools/t2v_curation/pipeline/captioning/pllava/models/pllava/configuration_pllava.py
  tools/t2v_curation/pipeline/captioning/pllava/models/pllava/modeling_pllava.py
  tools/t2v_curation/pipeline/captioning/pllava/models/pllava/processing_pllava.py
  tools/t2v_curation/pipeline/captioning/pllava/tasks/eval/eval_utils.py
  tools/t2v_curation/pipeline/captioning/pllava/tasks/eval/model_utils.py
  tools/t2v_curation/pipeline/captioning/pllava/utils/easydict.py
  tools/t2v_curation/pipeline/datasets/README.md
  tools/t2v_curation/pipeline/datasets/datautil.py
  tools/t2v_curation/pipeline/scoring/README.md
  tools/t2v_curation/pipeline/scoring/optical_flow/__init__.py
  tools/t2v_curation/pipeline/scoring/optical_flow/inference.py
  tools/t2v_curation/pipeline/scoring/optical_flow/unimatch/__init__.py
  tools/t2v_curation/pipeline/scoring/optical_flow/unimatch/attention.py
  tools/t2v_curation/pipeline/scoring/optical_flow/unimatch/backbone.py
  tools/t2v_curation/pipeline/scoring/optical_flow/unimatch/geometry.py
  tools/t2v_curation/pipeline/scoring/optical_flow/unimatch/matching.py
  tools/t2v_curation/pipeline/scoring/optical_flow/unimatch/position.py
  tools/t2v_curation/pipeline/scoring/optical_flow/unimatch/reg_refine.py
  tools/t2v_curation/pipeline/scoring/optical_flow/unimatch/transformer.py
  tools/t2v_curation/pipeline/scoring/optical_flow/unimatch/trident_conv.py
  tools/t2v_curation/pipeline/scoring/optical_flow/unimatch/unimatch.py
  tools/t2v_curation/pipeline/scoring/optical_flow/unimatch/utils.py
  tools/t2v_curation/tools/pth_to_ckpt.py
Owners: @vigo999

fix callback & zero bugs (#861)
  docs/tools/zero.md
  mindone/trainers/callback.py
Owners: @vigo999

Deployed 31d3f870 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
  0.2/tools/zero/index.html
Owners: @vigo999

fix a bug (#844)
  docs/tools/zero.md
  examples/opensora_pku/tools/ckpt/combine_ckpt.py
  mindone/diffusers/training_utils.py
  mindone/models/modules/parallel/conv.py
  mindone/models/modules/parallel/dense.py
  mindone/models/modules/parallel/param_wrapper.py
  mindone/trainers/callback.py
  mindone/trainers/zero.py
Owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

update zero (#854)
  docs/index.md
  docs/tools/_toctree.yml
  docs/tools/zero.md
  examples/opensora_pku/opensora/train/train_t2v_diffusers.py
  mindone/models/modules/parallel/__init__.py
  mindone/models/modules/parallel/conv.py
  mindone/models/modules/parallel/dense.py
  mindone/models/modules/parallel/param_wrapper.py
  mindone/trainers/zero.py
  tests/others/test_zero.py
Owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

add omegaconf in requirements.txt
  examples/wan2_1/requirements.txt
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

add pkgs in requirements.txt
  examples/wan2_1/requirements.txt
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

Update mindone/trainers/adamw_bf16.py
  mindone/trainers/adamw_bf16.py
Owners: @vigo999

Update README.md
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

Update README.md (#863)
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

Deployed 3083f813 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
Owners: @vigo999

distribute infer
  examples/diffusers/cogvideox_factory/infer.py
  examples/diffusers/cogvideox_factory/run_infer.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_lora.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_sft.sh
  examples/diffusers/cogvideox_factory/training/cogvideox_text_to_video_lora.py
  examples/diffusers/cogvideox_factory/training/cogvideox_text_to_video_sft.py
  examples/diffusers/cogvideox_factory/training/models/cogvideox_transformer_3d_sp.py
  examples/diffusers/cogvideox_factory/training/utils.py
  mindone/diffusers/training_utils.py
  mindone/trainers/adamw_bf16.py
Owners: @vigo999

distribute infer
  examples/diffusers/cogvideox_factory/infer.py
  examples/diffusers/cogvideox_factory/run_infer.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_lora.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_sft.sh
  examples/diffusers/cogvideox_factory/training/cogvideox_text_to_video_lora.py
  examples/diffusers/cogvideox_factory/training/cogvideox_text_to_video_sft.py
  examples/diffusers/cogvideox_factory/training/models/cogvideox_transformer_3d_sp.py
  examples/diffusers/cogvideox_factory/training/pipeline_cogvideox.py
  examples/diffusers/cogvideox_factory/training/utils.py
  mindone/diffusers/training_utils.py
  mindone/trainers/adamw_bf16.py
Owners: @vigo999

feat(transformers): implement Qwen generation example
  examples/transformers/qwen/generate.py
  examples/transformers/qwen/generate_pt.py
Owners: @vigo999

feat(transformers): implement Qwen generation example
  mindone/transformers/models/qwen2/modeling_qwen2.py
Owners: @vigo999

feat(transformers): implement Qwen generation example
  examples/transformers/qwen/generate.py
  examples/transformers/qwen/generate_pt.py
Owners: @vigo999

reformat
  examples/transformers/qwen/generate_pt.py
Owners: @vigo999

remove legacy files (#859)
  examples/opensora_pku/docs/performance_boosting_history.md
  examples/opensora_pku/docs/training_args.md
  examples/opensora_pku/scripts/text_condition/multi-devices/train_video3d_29x720p_zero2_sp_multi_node.sh
  examples/opensora_pku/scripts/text_condition/multi-devices/train_video3d_nx480p_zero2_multi_node.sh
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

Deployed 78067cc4 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
  0.2/sitemap.xml
  0.2/sitemap.xml.gz
Owners: @vigo999

reformat
  examples/transformers/qwen/generate_pt.py
Owners: @vigo999

fix linting
  examples/janus/tests/test_dataset.py
  examples/janus/tests/test_toy_data.py
  examples/janus/train.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

rm redundant ~py
  tools/t2v_curation/pipeline/scoring/ocr/inference.py~
Owners: @vigo999

feat(training/sd3): update training script of SD3 to v0.32
  examples/diffusers/dreambooth/train_dreambooth_sd3.py
  mindone/diffusers/training_utils.py
Owners: @vigo999

qwen2vl caption update default resized height weight to avoid memory overflow
  tools/t2v_curation/pipeline/captioning/README.md
  tools/t2v_curation/pipeline/captioning/caption_qwen2vl.py
Owners: @vigo999

update yaml, add json support (first ver.)
  tools/t2v_curation/README.md
  tools/t2v_curation/config/config.json
  tools/t2v_curation/config/config.yaml
  tools/t2v_curation/script/pipeline_runner.py
Owners: @vigo999

add_audioldm
  mindone/diffusers/__init__.py
  mindone/diffusers/pipelines/__init__.py
  mindone/diffusers/pipelines/audioldm/__init__.py
  mindone/diffusers/pipelines/audioldm/pipeline_audioldm.py
Owners: @vigo999
