Repository mindspore-lab/mindone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

sp infer
  examples/diffusers/cogvideox_factory/infer.py
  examples/diffusers/cogvideox_factory/run_infer.sh
  examples/diffusers/cogvideox_factory/training/models/autoencoder_kl_cogvideox_sp.py
  examples/diffusers/cogvideox_factory/training/pipeline_cogvideox.py
Owners: @vigo999

dynamic shape
  examples/diffusers/cogvideox_factory/training/cogvideox_text_to_video_sft.py
Owners: @vigo999

feat(examples/janus): support pure_text training and generation pipe
  examples/janus/inference_pure_text.py
  examples/janus/train_pure_text.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(examples/janus): support pure_text training and generation pipe
  examples/janus/inference_pure_text.py
  examples/janus/train_pure_text.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(examples/janus): support pure_text training and generation pipe
  mindone/transformers/mindspore_adapter/clip_grad.py
Owners: @vigo999

update
  examples/diffusers/cogvideox_factory/run_infer.sh
Owners: @vigo999

feat(diffusers&transformers): update the method of loading weights
  mindone/diffusers/models/model_loading_utils.py
  mindone/diffusers/models/modeling_utils.py
  mindone/transformers/modeling_utils.py
Owners: @vigo999

update
  examples/diffusers/cogvideox_factory/infer.py
  examples/diffusers/cogvideox_factory/train_text_to_video_lora.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_sft.sh
  examples/diffusers/cogvideox_factory/training/cogvideox_text_to_video_lora.py
  examples/diffusers/cogvideox_factory/training/cogvideox_text_to_video_sft.py
Owners: @vigo999

update
  examples/diffusers/cogvideox_factory/training/cogvideox_text_to_video_sft.py
  mindone/models/modules/parallel/conv.py
Owners: @vigo999

update
  examples/diffusers/cogvideox_factory/README.md
  examples/diffusers/cogvideox_factory/run_infer.sh
Owners: @vigo999

qwen2vl fix
  tools/t2v_curation/pipeline/captioning/caption_qwen2vl.py
Owners: @vigo999

update
  examples/diffusers/cogvideox_factory/README.md
  examples/diffusers/cogvideox_factory/train_text_to_video_lora.sh
Owners: @vigo999

update
  examples/diffusers/cogvideox_factory/README.md
  examples/diffusers/cogvideox_factory/cogvideox/__init__.py
  examples/diffusers/cogvideox_factory/cogvideox/args.py
  examples/diffusers/cogvideox_factory/cogvideox/bucket.yaml
  examples/diffusers/cogvideox_factory/cogvideox/cogvideox_text_to_video_lora.py
  examples/diffusers/cogvideox_factory/cogvideox/cogvideox_text_to_video_sft.py
  examples/diffusers/cogvideox_factory/cogvideox/dataset.py
  examples/diffusers/cogvideox_factory/cogvideox/datasets/__init__.py
  examples/diffusers/cogvideox_factory/cogvideox/datasets/aspect.py
  examples/diffusers/cogvideox_factory/cogvideox/datasets/bucket.py
  examples/diffusers/cogvideox_factory/cogvideox/models/__init__.py
  examples/diffusers/cogvideox_factory/cogvideox/models/attention_processor_sp.py
  examples/diffusers/cogvideox_factory/cogvideox/models/autoencoder_kl_cogvideox_sp.py
  examples/diffusers/cogvideox_factory/cogvideox/models/cogvideox_transformer_3d_sp.py
  examples/diffusers/cogvideox_factory/cogvideox/prepare_dataset.py
  examples/diffusers/cogvideox_factory/cogvideox/utils.py
  examples/diffusers/cogvideox_factory/prepare_dataset.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_lora.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_sft.sh
Owners: @vigo999

update
  examples/diffusers/cogvideox_factory/prepare_dataset.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_lora.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_sft.sh
Owners: @vigo999

add slow test for cogvideo, flux, latte, lumina and pag animatediff
  tests/diffusers_tests/pipelines/cogvideo/test_cogvideox_image2video.py
  tests/diffusers_tests/pipelines/cogvideo/test_cogvideox_video2video.py
  tests/diffusers_tests/pipelines/flux/test_pipeline_flux.py
  tests/diffusers_tests/pipelines/latte/test_latte.py
  tests/diffusers_tests/pipelines/lumina/test_lumina_nextdit.py
  tests/diffusers_tests/pipelines/pag/test_pag_animatediff.py
Owners: @vigo999

add slow test for flux_inpaint, flux_i2i and controlnet_sd3_inpaint
  tests/diffusers_tests/pipelines/controlnet_sd3/test_controlnet_inpaint_sd3.py
  tests/diffusers_tests/pipelines/flux/test_pipeline_flux_img2img.py
  tests/diffusers_tests/pipelines/flux/test_pipeline_flux_inpaint.py
Owners: @vigo999

Update mindone/trainers/adamw_bf16.py
  mindone/trainers/adamw_bf16.py
Owners: @vigo999

add bf16 adamw
  mindone/trainers/adamw_bf16.py
  mindone/trainers/optim.py
Owners: @vigo999

Update mindone/trainers/adamw_bf16.py
  mindone/trainers/adamw_bf16.py
Owners: @vigo999

update cogvideox
  examples/diffusers/__init__.py
  examples/diffusers/cogvideox_factory/README.md
  examples/diffusers/cogvideox_factory/assets/dataset.md
  examples/diffusers/cogvideox_factory/assets/dataset_zh.md
  examples/diffusers/cogvideox_factory/cogvideox/__init__.py
  examples/diffusers/cogvideox_factory/cogvideox/acceleration/__init__.py
  examples/diffusers/cogvideox_factory/cogvideox/acceleration/communications.py
  examples/diffusers/cogvideox_factory/cogvideox/acceleration/parallel_states.py
  examples/diffusers/cogvideox_factory/cogvideox/args.py
  examples/diffusers/cogvideox_factory/cogvideox/bucket.yaml
  examples/diffusers/cogvideox_factory/cogvideox/cogvideox_text_to_video_lora.py
  examples/diffusers/cogvideox_factory/cogvideox/cogvideox_text_to_video_sft.py
  examples/diffusers/cogvideox_factory/cogvideox/dataset.py
  examples/diffusers/cogvideox_factory/cogvideox/datasets/__init__.py
  examples/diffusers/cogvideox_factory/cogvideox/datasets/aspect.py
  examples/diffusers/cogvideox_factory/cogvideox/datasets/bucket.py
  examples/diffusers/cogvideox_factory/cogvideox/infer.py
  examples/diffusers/cogvideox_factory/cogvideox/models/__init__.py
  examples/diffusers/cogvideox_factory/cogvideox/models/attention_processor_sp.py
  examples/diffusers/cogvideox_factory/cogvideox/models/autoencoder_kl_cogvideox_sp.py
  examples/diffusers/cogvideox_factory/cogvideox/models/cogvideox_transformer_3d_sp.py
  examples/diffusers/cogvideox_factory/cogvideox/prepare_dataset.py
  examples/diffusers/cogvideox_factory/cogvideox/utils.py
  examples/diffusers/cogvideox_factory/prepare_dataset.sh
  examples/diffusers/cogvideox_factory/run_infer.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_lora.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_sft.sh
  mindone/diffusers/pipelines/cogvideo/pipeline_cogvideox.py
  mindone/diffusers/pipelines/cogvideo/pipeline_cogvideox_image2video.py
  mindone/diffusers/pipelines/cogvideo/pipeline_cogvideox_video2video.py
  mindone/diffusers/training_utils.py
  mindone/diffusers/utils/__init__.py
  mindone/diffusers/utils/mindspore_utils.py
Owners: @vigo999

typo
  examples/diffusers/cogvideox_factory/README.md
  examples/diffusers/cogvideox_factory/assets/dataset.md
  examples/diffusers/cogvideox_factory/assets/dataset_zh.md
  examples/diffusers/cogvideox_factory/cogvideox/args.py
  examples/diffusers/cogvideox_factory/cogvideox/cogvideox_text_to_video_lora.py
  examples/diffusers/cogvideox_factory/cogvideox/cogvideox_text_to_video_sft.py
  examples/diffusers/cogvideox_factory/cogvideox/infer.py
  examples/diffusers/cogvideox_factory/cogvideox/prepare_dataset.py
Owners: @vigo999

add tests
  examples/diffusers/cogvideox_factory/cogvideox/cogvideox_text_to_video_sft.py
  examples/diffusers/cogvideox_factory/cogvideox/tests/__init__.py
  examples/diffusers/cogvideox_factory/cogvideox/tests/run_3d_causal_vae.sh
  examples/diffusers/cogvideox_factory/cogvideox/tests/run_secd_recv.sh
  examples/diffusers/cogvideox_factory/cogvideox/tests/run_test_cogvideox_sequence_parallelism.sh
  examples/diffusers/cogvideox_factory/cogvideox/tests/test_3d_causal_vae.py
  examples/diffusers/cogvideox_factory/cogvideox/tests/test_cogvideox_sequence_parallelism.py
  examples/diffusers/cogvideox_factory/cogvideox/tests/test_send_recv.py
  examples/diffusers/cogvideox_factory/run_infer.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_lora.sh
  examples/diffusers/cogvideox_factory/train_text_to_video_sft.sh
Owners: @vigo999

reformat
  mindone/transformers/models/qwen2/modeling_qwen2.py
Owners: @vigo999

update
  examples/diffusers/cogvideox_factory/prepare_dataset.sh
Owners: @vigo999

add grad clip
  examples/janus/train.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix linting
  mindone/transformers/models/__init__.py
Owners: @vigo999

[OpenSora-hpcai] T5 refactor (#670)
  examples/opensora_hpcai/README.md
  examples/opensora_hpcai/configs/opensora-v1-1/inference/sample_iv2v.yaml
  examples/opensora_hpcai/configs/opensora-v1-1/inference/sample_t2v.yaml
  examples/opensora_hpcai/configs/opensora-v1-1/inference/t2v_fit.yaml
  examples/opensora_hpcai/configs/opensora-v1-2/inference/sample_iv2v.yaml
  examples/opensora_hpcai/configs/opensora-v1-2/inference/sample_t2v.yaml
  examples/opensora_hpcai/configs/opensora/inference/stdit_256x256x16.yaml
  examples/opensora_hpcai/configs/opensora/inference/stdit_512x512x16.yaml
  examples/opensora_hpcai/configs/opensora/inference/stdit_512x512x64.yaml
  examples/opensora_hpcai/docs/quick_start.md
  examples/opensora_hpcai/opensora/models/text_encoder/flan_t5_large/mininlp/activations.py
  examples/opensora_hpcai/opensora/models/text_encoder/flan_t5_large/mininlp/configs.py
  examples/opensora_hpcai/opensora/models/text_encoder/flan_t5_large/mininlp/download.py
  examples/opensora_hpcai/opensora/models/text_encoder/flan_t5_large/mininlp/legacy.py
  examples/opensora_hpcai/opensora/models/text_encoder/flan_t5_large/mininlp/mixins.py
  examples/opensora_hpcai/opensora/models/text_encoder/flan_t5_large/mininlp/pretrained_config.py
  examples/opensora_hpcai/opensora/models/text_encoder/flan_t5_large/mininlp/pretrained_model.py
  examples/opensora_hpcai/opensora/models/text_encoder/flan_t5_large/mininlp/pretrained_tokenizer.py
  examples/opensora_hpcai/opensora/models/text_encoder/flan_t5_large/t5.py
  examples/opensora_hpcai/opensora/models/text_encoder/flan_t5_large/t5_config.py
  examples/opensora_hpcai/opensora/models/text_encoder/t5.py
  examples/opensora_hpcai/opensora/utils/model_utils.py
  examples/opensora_hpcai/requirements.txt
  examples/opensora_hpcai/scripts/args_train.py
  examples/opensora_hpcai/scripts/infer_t5.py
  examples/opensora_hpcai/scripts/infer_vae.py
  examples/opensora_hpcai/scripts/inference.py
  examples/opensora_hpcai/tools/convert_t5.py
  examples/opensora_hpcai/tools/download_convert_st.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

update
  examples/__init__.py
  examples/diffusers/__init__.py
  examples/diffusers/cogvideox_factory/README.md
  examples/diffusers/cogvideox_factory/assets/dataset.md
  examples/diffusers/cogvideox_factory/assets/dataset_zh.md
  examples/diffusers/cogvideox_factory/cogvideox/dataset.py
  examples/diffusers/cogvideox_factory/cogvideox/models/autoencoder_kl_cogvideox_sp.py
  examples/diffusers/cogvideox_factory/cogvideox/tests/__init__.py
  examples/diffusers/cogvideox_factory/scripts/args.py
  examples/diffusers/cogvideox_factory/scripts/bucket.yaml
  examples/diffusers/cogvideox_factory/scripts/cogvideox_text_to_video_lora.py
  examples/diffusers/cogvideox_factory/scripts/cogvideox_text_to_video_sft.py
  examples/diffusers/cogvideox_factory/scripts/infer.py
  examples/diffusers/cogvideox_factory/scripts/prepare_dataset.py
  examples/diffusers/cogvideox_factory/scripts/prepare_dataset.sh
  examples/diffusers/cogvideox_factory/scripts/run_infer.sh
  examples/diffusers/cogvideox_factory/scripts/train_text_to_video_lora.sh
  examples/diffusers/cogvideox_factory/scripts/train_text_to_video_sft.sh
  examples/diffusers/cogvideox_factory/tests/run_3d_causal_vae.sh
  examples/diffusers/cogvideox_factory/tests/run_secd_recv.sh
  examples/diffusers/cogvideox_factory/tests/run_test_cogvideox_sequence_parallelism.sh
  examples/diffusers/cogvideox_factory/tests/test_3d_causal_vae.py
  examples/diffusers/cogvideox_factory/tests/test_cogvideox_sequence_parallelism.py
  examples/diffusers/cogvideox_factory/tests/test_send_recv.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao, @vigo999

preserve `data_split_even`
  mindone/data/data_split.py
Owners: @vigo999

[OpenSora-HPC] fix distributed inference for I/V2V and text embeddings (#617)
  examples/opensora_hpcai/scripts/inference.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

Deployed db61e8f9 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
Owners: @vigo999

delete assert
  examples/diffusers/cogvideox_factory/cogvideox/models/cogvideox_transformer_3d_sp.py
Owners: @vigo999

adamw_bf16
  examples/diffusers/cogvideox_factory/cogvideox/utils.py
  examples/diffusers/cogvideox_factory/scripts/train_text_to_video_lora.sh
  examples/diffusers/cogvideox_factory/scripts/train_text_to_video_sft.sh
Owners: @vigo999

speed up model load from diffusers
  examples/wan2_1/wan/diffusers/models/model_loading_utils.py
  examples/wan2_1/wan/diffusers/models/modeling_utils.py
  examples/wan2_1/wan/modules/model.py
Owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(diffusers): add cogview4
  docs/diffusers/_toctree.yml
  docs/diffusers/api/models/cogview4_transformer2d.md
  docs/diffusers/api/pipelines/cogview4.md
  mindone/diffusers/__init__.py
  mindone/diffusers/models/__init__.py
  mindone/diffusers/models/embeddings.py
  mindone/diffusers/models/transformers/__init__.py
  mindone/diffusers/models/transformers/transformer_cogview4.py
  mindone/diffusers/pipelines/__init__.py
  mindone/diffusers/pipelines/auto_pipeline.py
  mindone/diffusers/pipelines/cogview4/__init__.py
  mindone/diffusers/pipelines/cogview4/pipeline_cogview4.py
  mindone/diffusers/pipelines/cogview4/pipeline_output.py
  mindone/diffusers/schedulers/scheduling_flow_match_euler_discrete.py
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/glm/__init__.py
  mindone/transformers/models/glm/modeling_glm.py
Owners: @vigo999

update
  examples/diffusers/cogvideox_factory/scripts/cogvideox_text_to_video_lora.py
  examples/diffusers/cogvideox_factory/scripts/cogvideox_text_to_video_sft.py
  examples/diffusers/cogvideox_factory/scripts/train_text_to_video_sft.sh
Owners: @vigo999

feat(diffusers/tests): add full test for pipelines in diffusers v0.31.0
  mindone/diffusers/models/controlnet_hunyuan.py
  tests/diffusers_tests/pipelines/animatediff/test_animatediff_controlnet.py
  tests/diffusers_tests/pipelines/animatediff/test_animatediff_sparsectrl.py
  tests/diffusers_tests/pipelines/aura_flow/test_pipeline_aura_flow.py
  tests/diffusers_tests/pipelines/cogvideo/test_cogvideox.py
  tests/diffusers_tests/pipelines/controlnet_hunyuandit/test_controlnet_hunyuandit.py
  tests/diffusers_tests/pipelines/kolors/test_kolors.py
  tests/diffusers_tests/pipelines/kolors/test_kolors_img2img.py
  tests/diffusers_tests/pipelines/pag/test_pag_controlnet_sd_inpaint.py
  tests/diffusers_tests/pipelines/pag/test_pag_controlnet_sdxl_img2img.py
  tests/diffusers_tests/pipelines/pag/test_pag_sd_img2img.py
Owners: @vigo999

add zero3 training
  examples/diffusers/controlnet/README_flux.md
  examples/diffusers/controlnet/train_controlnet_flux.py
Owners: @vigo999

update readme
  examples/diffusers/controlnet/README_flux.md
Owners: @vigo999

feat(diffusers): add cogview4 (#872)
  docs/diffusers/_toctree.yml
  docs/diffusers/api/models/cogview4_transformer2d.md
  docs/diffusers/api/pipelines/cogview4.md
  mindone/diffusers/__init__.py
  mindone/diffusers/models/__init__.py
  mindone/diffusers/models/embeddings.py
  mindone/diffusers/models/transformers/__init__.py
  mindone/diffusers/models/transformers/transformer_cogview4.py
  mindone/diffusers/pipelines/__init__.py
  mindone/diffusers/pipelines/auto_pipeline.py
  mindone/diffusers/pipelines/cogview4/__init__.py
  mindone/diffusers/pipelines/cogview4/pipeline_cogview4.py
  mindone/diffusers/pipelines/cogview4/pipeline_output.py
  mindone/diffusers/schedulers/scheduling_flow_match_euler_discrete.py
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/glm/__init__.py
  mindone/transformers/models/glm/modeling_glm.py
Owners: @vigo999

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @vigo999 will be requested for review when someone opens a pull request.
* @vigo999

# Order is important; the last matching pattern takes the most precedence.

# Any change inside the `/examples` directory at the root of the repository and any of its subdirectories will require approval from @CaitinZhao, @SamitHuang or @zhanghuiyao.
/examples/ @CaitinZhao @SamitHuang @zhanghuiyao

# @vigo999 owns any file in an `diffusers`, `transformers`, `peft` and `safetensors` directory anywhere in the repository.
diffusers/ @vigo999
transformers/ @vigo999
peft/ @vigo999
safetensors/ @vigo999

# @vigo999 owns any file about the repository settings.
/.* @vigo999
/docs/ @vigo999
/mkdocs.yml @vigo999
/pyproject.toml @vigo999

# @global-owners own any file except for the following list, as their owners are left empty.
/*.md
