Repository mindspore-lab/mindone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

fix linting
  examples/janus/README.md
  examples/janus/generation_inference.py
  examples/janus/janus/models/modeling_vlm.py
  examples/janus/janus/models/vq_model.py
  examples/janus/janus/train/lr_schedule.py
  examples/janus/janus/train/t2i_dataset.py
  examples/janus/janus/train/utils.py
  examples/janus/scripts/run_sft_t2i.sh
  examples/janus/tests/test_dataset.py
  examples/janus/tests/test_toy_data.py
  examples/janus/tests/test_vq.py
  examples/janus/train.py
  mindone/transformers/models/llama/modeling_llama.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao, @vigo999

bugfix
  tests/diffusers/pipelines/pag/test_pag_controlnet_sd.py
  tests/diffusers/pipelines/pag/test_pag_pixart_sigma.py
  tests/diffusers/pipelines/pag/test_pag_sdxl_inpaint.py
Owners: @vigo999

support sp
  examples/wan2_1/generate.py
  examples/wan2_1/wan/acceleration/__init__.py
  examples/wan2_1/wan/acceleration/communications.py
  examples/wan2_1/wan/acceleration/parallel_states.py
  examples/wan2_1/wan/image2video.py
  examples/wan2_1/wan/modules/model.py
  examples/wan2_1/wan/text2video.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(diffusers/pipelines): add fast tests for pag pipes x6 (v0.30.3) (#819)
  tests/diffusers/pipelines/pag/test_pag_controlnet_sd.py
  tests/diffusers/pipelines/pag/test_pag_controlnet_sdxl.py
  tests/diffusers/pipelines/pag/test_pag_pixart_sigma.py
  tests/diffusers/pipelines/pag/test_pag_sdxl.py
  tests/diffusers/pipelines/pag/test_pag_sdxl_img2img.py
  tests/diffusers/pipelines/pag/test_pag_sdxl_inpaint.py
Owners: @vigo999

Deployed 9c32b2ae to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
Owners: @vigo999

change args name
  examples/wan2_1/generate.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

update readme
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

Update README.md
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

update readme
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

Update README.md
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

update readme
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

clean files
  examples/wan2_1/.gitignore
  examples/wan2_1/LICENSE.txt
  examples/wan2_1/assets/comp_effic.png
  examples/wan2_1/assets/data_for_diff_stage.jpg
  examples/wan2_1/assets/i2v_res.png
  examples/wan2_1/assets/logo.png
  examples/wan2_1/assets/t2v_res.jpg
  examples/wan2_1/assets/vben_vs_sota.png
  examples/wan2_1/assets/video_dit_arch.jpg
  examples/wan2_1/assets/video_vae_res.jpg
  examples/wan2_1/gradio/i2v_14B_singleGPU.py
  examples/wan2_1/gradio/t2i_14B_singleGPU.py
  examples/wan2_1/gradio/t2v_1.3B_singleGPU.py
  examples/wan2_1/gradio/t2v_14B_singleGPU.py
  examples/wan2_1/tests/README.md
  examples/wan2_1/tests/test.sh
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix readme typo
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix seed
  examples/wan2_1/generate.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

update requirement.txt
  examples/wan2_1/requirements.txt
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix error 8
  examples/wan2_1/wan/modules/model.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

change args name 2
  examples/wan2_1/generate.py
  examples/wan2_1/wan/image2video.py
  examples/wan2_1/wan/text2video.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix after rm
  examples/wan2_1/generate.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

update readme
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

rm files
  examples/wan2_1/wan/utils/prompt_extend.py
  examples/wan2_1/wan/utils/qwen_vl_utils.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

update
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

rm torchvision transforms
  examples/wan2_1/wan/modules/clip.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix precommit
  docs/diffusers/api/models/controlnet_union.md
  mindone/diffusers/models/autoencoders/__init__.py
  mindone/diffusers/models/autoencoders/autoencoder_kl_hunyuan_video.py
  mindone/diffusers/models/autoencoders/autoencoder_kl_ltx.py
  mindone/diffusers/models/controlnets/controlnet_union.py
  mindone/diffusers/models/layers_compat.py
  mindone/diffusers/models/transformers/__init__.py
  mindone/diffusers/models/transformers/transformer_hunyuan_video.py
  mindone/diffusers/models/transformers/transformer_ltx.py
  mindone/diffusers/pipelines/__init__.py
  mindone/diffusers/pipelines/controlnet/pipeline_controlnet_union_inpaint_sd_xl.py
  mindone/diffusers/pipelines/controlnet/pipeline_controlnet_union_sd_xl.py
  mindone/diffusers/pipelines/controlnet/pipeline_controlnet_union_sd_xl_img2img.py
  mindone/diffusers/pipelines/free_noise_utils.py
  mindone/diffusers/pipelines/hunyuan_video/pipeline_hunyuan_video.py
  mindone/diffusers/pipelines/ltx/__init__.py
  mindone/diffusers/pipelines/ltx/pipeline_ltx.py
  mindone/diffusers/pipelines/ltx/pipeline_ltx_image2video.py
  mindone/diffusers/pipelines/pag/pipeline_pag_sd_3_img2img.py
  mindone/diffusers/pipelines/pag/pipeline_pag_sd_inpaint.py
  tests/diffusers_tests/modules/modules_test_cases.py
  tests/diffusers_tests/pipelines/hunyuan_video/test_hunyuan_video.py
Owners: @vigo999

fix error 9
  examples/wan2_1/generate.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

update readme (#15)
  examples/wan2_1/README.md
  examples/wan2_1/generate.py
  examples/wan2_1/requirements.txt
  examples/wan2_1/wan/configs/__init__.py
  examples/wan2_1/wan/configs/wan_i2v_14B.py
  examples/wan2_1/wan/configs/wan_t2v_14B.py
  examples/wan2_1/wan/configs/wan_t2v_1_3B.py
  examples/wan2_1/wan/modules/clip.py
  examples/wan2_1/wan/modules/tokenizers.py
  examples/wan2_1/wan/utils/__init__.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

add pil2tensor, rm torchvision
  examples/wan2_1/requirements.txt
  examples/wan2_1/wan/image2video.py
  examples/wan2_1/wan/utils/utils.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

update docstring
  examples/wan2_1/wan/image2video.py
  examples/wan2_1/wan/modules/xlm_roberta.py
  examples/wan2_1/wan/text2video.py
  examples/wan2_1/wan/utils/fm_solvers.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

small fix
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

bugfix
  mindone/diffusers/models/attention_processor.py
Owners: @vigo999

fix error 10
  examples/wan2_1/generate.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix
  examples/wan2_1/wan/image2video.py
  examples/wan2_1/wan/utils/utils.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

add make_grid_ms, save_image_ms
  examples/wan2_1/wan/utils/utils.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix make_grid_ms
  examples/wan2_1/requirements.txt
  examples/wan2_1/wan/utils/utils.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix save_image_ms
  examples/wan2_1/wan/utils/utils.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

rm distributed
  examples/wan2_1/README.md
  examples/wan2_1/generate.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

Update README.md
  examples/wan2_1/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix linting
  examples/wan2_1/wan/image2video.py
  examples/wan2_1/wan/utils/utils.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix linting
  examples/wan2_1/wan/image2video.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

[FEATURE] Support Wan2.1 inference (#856)
  examples/wan2_1/README.md
  examples/wan2_1/examples/i2v_input.JPG
  examples/wan2_1/generate.py
  examples/wan2_1/requirements.txt
  examples/wan2_1/wan/__init__.py
  examples/wan2_1/wan/acceleration/__init__.py
  examples/wan2_1/wan/acceleration/communications.py
  examples/wan2_1/wan/acceleration/parallel_states.py
  examples/wan2_1/wan/configs/__init__.py
  examples/wan2_1/wan/configs/shared_config.py
  examples/wan2_1/wan/configs/wan_i2v_14B.py
  examples/wan2_1/wan/configs/wan_t2v_14B.py
  examples/wan2_1/wan/configs/wan_t2v_1_3B.py
  examples/wan2_1/wan/image2video.py
  examples/wan2_1/wan/modules/__init__.py
  examples/wan2_1/wan/modules/clip.py
  examples/wan2_1/wan/modules/model.py
  examples/wan2_1/wan/modules/t5.py
  examples/wan2_1/wan/modules/tokenizers.py
  examples/wan2_1/wan/modules/vae.py
  examples/wan2_1/wan/modules/xlm_roberta.py
  examples/wan2_1/wan/text2video.py
  examples/wan2_1/wan/utils/__init__.py
  examples/wan2_1/wan/utils/fm_solvers.py
  examples/wan2_1/wan/utils/fm_solvers_unipc.py
  examples/wan2_1/wan/utils/utils.py
  mindone/models/modules/parallel/conv.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao, @vigo999

Deployed 8e42dedd to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
Owners: @vigo999

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @vigo999 will be requested for review when someone opens a pull request.
* @vigo999

# Order is important; the last matching pattern takes the most precedence.

# Any change inside the `/examples` directory at the root of the repository and any of its subdirectories will require approval from @CaitinZhao, @SamitHuang or @zhanghuiyao.
/examples/ @CaitinZhao @SamitHuang @zhanghuiyao

# @vigo999 owns any file in an `diffusers`, `transformers`, `peft` and `safetensors` directory anywhere in the repository.
diffusers/ @vigo999
transformers/ @vigo999
peft/ @vigo999
safetensors/ @vigo999

# @vigo999 owns any file about the repository settings.
/.* @vigo999
/docs/ @vigo999
/mkdocs.yml @vigo999
/pyproject.toml @vigo999

# @global-owners own any file except for the following list, as their owners are left empty.
/*.md
