Repository mindspore-lab/mindone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(examples/cogview): add cogview4 (#874)
  docs/diffusers/api/pipelines/cogview4.md
  examples/cogview/README.md
  examples/cogview/inference/cli_demo_cogview4.py
Owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

Deployed e2e320e3 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
  0.2/diffusers/api/pipelines/cogview4/index.html
  0.2/sitemap.xml
  0.2/sitemap.xml.gz
Owners: @vigo999

feat(examples/qwq): support qwq-32b inference
  examples/qwen/qwq/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(examples/qwq): support qwq-32b inference
  examples/qwen/qwq/README.md
  examples/qwen/qwq/qwq_32B_generate.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix error
  mindone/transformers/models/qwen2/modeling_qwen2.py
  mindone/transformers/models/qwen2_5_vl/modeling_qwen2_5_vl.py
Owners: @vigo999

add vqa sft
  examples/janus/inference.py
  examples/janus/janus/models/modeling_vlm.py
  examples/janus/janus/models/processing_vlm.py
  examples/janus/janus/train/t2i_dataset.py
  examples/janus/janus/train/text_dataset.py
  examples/janus/scripts/run_sft_vqa.sh
  examples/janus/tests/test_dataset.py
  examples/janus/train.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

bugfix (#857)
  mindone/diffusers/models/attention_processor.py
Owners: @vigo999

Deployed e6771360 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
  0.2/sitemap.xml
  0.2/sitemap.xml.gz
Owners: @vigo999

fix pad error
  mindone/transformers/models/qwen2/modeling_qwen2.py
Owners: @vigo999

add Qwen zero3
  examples/wan2_1/generate.py
  examples/wan2_1/wan/utils/prompt_extend.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

add args warning
  examples/wan2_1/generate.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @vigo999 will be requested for review when someone opens a pull request.
* @vigo999

# Order is important; the last matching pattern takes the most precedence.

# Any change inside the `/examples` directory at the root of the repository and any of its subdirectories will require approval from @CaitinZhao, @SamitHuang or @zhanghuiyao.
/examples/ @CaitinZhao @SamitHuang @zhanghuiyao

# @vigo999 owns any file in an `diffusers`, `transformers`, `peft` and `safetensors` directory anywhere in the repository.
diffusers/ @vigo999
transformers/ @vigo999
peft/ @vigo999
safetensors/ @vigo999

# @vigo999 owns any file about the repository settings.
/.* @vigo999
/docs/ @vigo999
/mkdocs.yml @vigo999
/pyproject.toml @vigo999

# @global-owners own any file except for the following list, as their owners are left empty.
/*.md
