Repository mindspore-lab/mindone, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @vigo999 will be requested for review when someone opens a pull request.
* @vigo999

# Order is important; the last matching pattern takes the most precedence.

# Any change inside the `/examples` directory at the root of the repository and any of its subdirectories will require approval from @CaitinZhao, @SamitHuang or @zhanghuiyao.
/examples/ @CaitinZhao @SamitHuang @zhanghuiyao

# @vigo999 owns any file in an `diffusers`, `transformers`, `peft` and `safetensors` directory anywhere in the repository.
diffusers/ @vigo999
transformers/ @vigo999
peft/ @vigo999
safetensors/ @vigo999

# @vigo999 owns any file about the repository settings.
/.* @vigo999
/docs/ @vigo999
/mkdocs.yml @vigo999
/pyproject.toml @vigo999

# @global-owners own any file except for the following list, as their owners are left empty.
/*.md

update readme for vae
  examples/hunyuanvideo/README.md
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

Deployed 5e3772f2 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
  0.2/sitemap.xml
  0.2/sitemap.xml.gz
Owners: @vigo999

fix error
  examples/wan2_1/generate.py
  examples/wan2_1/wan/configs/shared_config.py
  examples/wan2_1/wan/modules/model.py
  examples/wan2_1/wan/modules/t5.py
  examples/wan2_1/wan/modules/vae.py
  examples/wan2_1/wan/text2video.py
  examples/wan2_1/wan/utils/fm_solvers.py
  examples/wan2_1/wan/utils/fm_solvers_unipc.py
  examples/wan2_1/wan/utils/utils.py
  mindone/diffusers/models/modeling_utils.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao, @vigo999

correct ckpt pname
  examples/hunyuanvideo/hyvideo/vae/__init__.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(transformers): add GEMMA2
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/gemma2/__init__.py
  mindone/transformers/models/gemma2/modeling_gemma2.py
  pyproject.toml
Owners: @vigo999

feat(diffusers): add SANA PAG pipeline
  mindone/diffusers/__init__.py
  mindone/diffusers/pipelines/__init__.py
  mindone/diffusers/pipelines/pag/__init__.py
  mindone/diffusers/pipelines/pag/pipeline_pag_sana.py
Owners: @vigo999

feat(diffusers): add SANA models
  mindone/diffusers/__init__.py
  mindone/diffusers/models/__init__.py
  mindone/diffusers/models/attention_processor.py
  mindone/diffusers/models/autoencoders/__init__.py
  mindone/diffusers/models/autoencoders/autoencoder_dc.py
  mindone/diffusers/models/transformers/__init__.py
  mindone/diffusers/models/transformers/sana_transformer.py
  mindone/diffusers/pipelines/__init__.py
  mindone/diffusers/pipelines/sana/__init__.py
  mindone/diffusers/pipelines/sana/pipeline_output.py
  mindone/diffusers/pipelines/sana/pipeline_sana.py
  tests/diffusers_tests/modules/modules_test_cases.py
Owners: @vigo999

update stepvideo readme (#852)
  examples/step_video_t2v/README.md
  examples/step_video_t2v/requirement.txt
  examples/step_video_t2v/requirements.txt
  examples/step_video_t2v/stepvideo/diffusion/video_pipeline.py
  examples/step_video_t2v/stepvideo/modules/model.py
  examples/step_video_t2v/stepvideo/parallel.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

Deployed 041a18a6 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
Owners: @vigo999

Deployed 504a58ef to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
Owners: @vigo999

fix error 2
  examples/wan2_1/wan/distributed/__init__.py
  examples/wan2_1/wan/distributed/fsdp.py
  examples/wan2_1/wan/distributed/xdit_context_parallel.py
  examples/wan2_1/wan/modules/model.py
  examples/wan2_1/wan/modules/t5.py
  examples/wan2_1/wan/modules/vae.py
  examples/wan2_1/wan/text2video.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

remove redundant
  examples/hunyuanvideo/hyvideo/utils/model_utils.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

update requirements
  examples/hunyuanvideo/requirements.txt
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix error 3
  examples/wan2_1/wan/modules/vae.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

training debug
  examples/emu3/emu3/train/datasets.py
  examples/emu3/emu3/train/prepare_data.py
  examples/emu3/emu3/train/train.py
  examples/emu3/image_generation.py
  examples/emu3/scripts/t2i_sft_parallel.sh
  examples/emu3/scripts/t2i_sft_single.sh
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

add seq parallel
  examples/emu3/acceleration/__init__.py
  examples/emu3/acceleration/communications.py
  examples/emu3/acceleration/parallel_states.py
  examples/emu3/emu3/mllm/modeling_emu3.py
  examples/emu3/emu3/tests/test_emu3_infer.py
  examples/emu3/emu3/tests/test_seq_parallel.py
  examples/emu3/emu3/train/train_seq_parallel.py
  examples/emu3/scripts/t2i_sft_seq_parallel.sh
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix error 4
  examples/wan2_1/wan/text2video.py
  examples/wan2_1/wan/utils/utils.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

migrate image2video
  examples/wan2_1/wan/image2video.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

remove syn
  examples/wan2_1/generate.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

add clip
  examples/wan2_1/wan/modules/clip.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(diffusers): Support Stable-audio (#818)
  .github/workflows/ci.yml
  docs/diffusers/api/models/autoencoder_oobleck.md
  docs/diffusers/api/models/stable_audio_transformer.md
  docs/diffusers/api/pipelines/stable_audio.md
  docs/diffusers/api/schedulers/dpm_sde.md
  mindone/diffusers/__init__.py
  mindone/diffusers/models/__init__.py
  mindone/diffusers/models/attention_processor.py
  mindone/diffusers/models/autoencoders/__init__.py
  mindone/diffusers/models/autoencoders/autoencoder_oobleck.py
  mindone/diffusers/models/embeddings.py
  mindone/diffusers/models/modeling_utils.py
  mindone/diffusers/models/transformers/__init__.py
  mindone/diffusers/models/transformers/stable_audio_transformer.py
  mindone/diffusers/pipelines/__init__.py
  mindone/diffusers/pipelines/stable_audio/__init__.py
  mindone/diffusers/pipelines/stable_audio/modeling_stable_audio.py
  mindone/diffusers/pipelines/stable_audio/pipeline_stable_audio.py
  mindone/diffusers/schedulers/__init__.py
  mindone/diffusers/schedulers/scheduling_cosine_dpmsolver_multistep.py
  mindone/diffusers/schedulers/scheduling_dpmsolver_sde.py
  mindone/utils/__init__.py
  mindone/utils/_brownian/__init__.py
  mindone/utils/_brownian/brownian_base.py
  mindone/utils/_brownian/brownian_interval.py
  mindone/utils/_brownian/settings.py
  mindone/utils/_brownian/types.py
  mindone/utils/weight_norm.py
  pyproject.toml
  tests/diffusers_tests/test_schedulers.py
Owners: @vigo999

bugfix 0.32
  mindone/diffusers/models/attention_processor.py
  mindone/diffusers/models/autoencoders/autoencoder_kl_mochi.py
  mindone/diffusers/models/embeddings.py
  mindone/diffusers/models/transformers/transformer_flux.py
  mindone/diffusers/models/transformers/transformer_mochi.py
  mindone/diffusers/pipelines/flux/pipeline_flux_control.py
  mindone/diffusers/pipelines/flux/pipeline_flux_control_img2img.py
  mindone/diffusers/pipelines/flux/pipeline_flux_control_inpaint.py
  mindone/diffusers/pipelines/flux/pipeline_flux_fill.py
  mindone/diffusers/pipelines/flux/pipeline_flux_prior_redux.py
  mindone/diffusers/pipelines/mochi/pipeline_mochi.py
Owners: @vigo999

Deployed da32d4e4 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
  0.2/diffusers/api/models/autoencoder_oobleck/index.html
  0.2/diffusers/api/models/overview/index.html
  0.2/diffusers/api/models/stable_audio_transformer/index.html
  0.2/diffusers/api/pipelines/stable_audio/index.html
  0.2/diffusers/api/schedulers/deis/index.html
  0.2/diffusers/api/schedulers/dpm_discrete/index.html
  0.2/diffusers/api/schedulers/dpm_discrete_ancestral/index.html
  0.2/diffusers/api/schedulers/dpm_sde/index.html
  0.2/diffusers/api/schedulers/edm_multistep_dpm_solver/index.html
  0.2/diffusers/api/schedulers/heun/index.html
  0.2/diffusers/api/schedulers/ipndm/index.html
  0.2/diffusers/api/schedulers/multistep_dpm_solver/index.html
  0.2/diffusers/api/schedulers/multistep_dpm_solver_inverse/index.html
  0.2/diffusers/api/schedulers/pndm/index.html
  0.2/diffusers/api/schedulers/score_sde_ve/index.html
  0.2/diffusers/api/schedulers/singlestep_dpm_solver/index.html
  0.2/diffusers/api/schedulers/unipc/index.html
  0.2/objects.inv
  0.2/sitemap.xml
  0.2/sitemap.xml.gz
Owners: @vigo999

migrate clip
  examples/wan2_1/wan/modules/clip.py
  examples/wan2_1/wan/modules/xlm_roberta.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix(diffusers): fix bugs of euler discrete scheduler and attention processor (#840)
  mindone/diffusers/models/attention_processor.py
  mindone/diffusers/schedulers/scheduling_euler_discrete.py
Owners: @vigo999

Deployed 286b5913 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
Owners: @vigo999

debug
  examples/emu3/emu3/acceleration/__init__.py
  examples/emu3/emu3/acceleration/communications.py
  examples/emu3/emu3/acceleration/parallel_states.py
  examples/emu3/emu3/mllm/modeling_emu3.py
  examples/emu3/emu3/tests/test_emu3_infer.py
  examples/emu3/emu3/tests/test_seq_parallel.py
  examples/emu3/emu3/train/datasets.py
  examples/emu3/emu3/train/train.py
  examples/emu3/emu3/train/train_seq_parallel.py
  mindone/transformers/optimization.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao, @vigo999

fix i2v bug
  examples/wan2_1/wan/__init__.py
  examples/wan2_1/wan/configs/wan_i2v_14B.py
  examples/wan2_1/wan/image2video.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix(transformers): generation config bugfix/time module deletion (#839)
  mindone/transformers/generation/utils.py
  mindone/transformers/modeling_utils.py
Owners: @vigo999

Deployed 72339ca8 to 0.2 with MkDocs 1.6.1 and mike 2.1.3
  0.2/__pycache__/gen_nav.cpython-38.pyc
  0.2/sitemap.xml
  0.2/sitemap.xml.gz
Owners: @vigo999

zero doc & checkpoint save adapt (#834)
  docs/index.md
  docs/tools/_toctree.yml
  docs/tools/zero.md
  examples/opensora_pku/opensora/train/train_t2v_diffusers.py
  examples/opensora_pku/tools/ckpt/combine_ckpt.py
  mindone/diffusers/training_utils.py
  mindone/models/modules/parallel/__init__.py
  mindone/models/modules/parallel/conv.py
  mindone/models/modules/parallel/dense.py
  mindone/models/modules/parallel/param_wrapper.py
  mindone/trainers/callback.py
  mindone/trainers/zero.py
  tests/others/test_zero.py
Owners: @vigo999, @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(transformers): add qwen2 model
  mindone/transformers/modeling_utils.py
Owners: @vigo999

fix error 5
  examples/wan2_1/wan/image2video.py
  examples/wan2_1/wan/modules/model.py
  examples/wan2_1/wan/text2video.py
  examples/wan2_1/wan/utils/utils.py
  mindone/diffusers/models/modeling_utils.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao, @vigo999

fix error 6
  examples/wan2_1/wan/image2video.py
  examples/wan2_1/wan/utils/utils.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

fix error 7
  examples/wan2_1/wan/modules/model.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

move qwen2vl to examples
  examples/qwen2_vl/README.md
  examples/qwen2_vl/requirements.txt
  examples/qwen2_vl/test_vqa.py
  examples/qwen2_vl/video_understanding.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao

feat(diffusers/test): add diffusers_0.30.3_dev full tests like pag_sd3 and etc.
  tests/diffusers_tests/pipelines/pag/test_pag_hunyuan_dit.py
  tests/diffusers_tests/pipelines/pag/test_pag_kolors.py
  tests/diffusers_tests/pipelines/pag/test_pag_sd3.py
Owners: @vigo999

support fsdp
  examples/wan2_1/generate.py
  examples/wan2_1/wan/image2video.py
  examples/wan2_1/wan/text2video.py
  mindone/models/modules/parallel/conv.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao, @vigo999

feat(diffusers/test): add diffusers_0.31.0_dev full tests like cogview3 and etc.
  tests/diffusers_tests/pipelines/animatediff/test_animatediff_video2video_controlnet.py
  tests/diffusers_tests/pipelines/cogvideo/test_cogvideox_fun_control.py
  tests/diffusers_tests/pipelines/cogview3/test_cogview3plus.py
Owners: @vigo999

add global seed
  examples/wan2_1/generate.py
Owners: @CaitinZhao, @SamitHuang, @zhanghuiyao
