Repository mindspore-lab/mindone, pull requests merged in 2025-09, with the labels that each got.

#1227 add OmniGen2 inference
  examples/omnigen2/README.md
  examples/omnigen2/app.py
  examples/omnigen2/configs/app/examples.yaml
  examples/omnigen2/omnigen2/__init__.py
  examples/omnigen2/omnigen2/cache_functions/__init__.py
  examples/omnigen2/omnigen2/cache_functions/cache_init.py
  examples/omnigen2/omnigen2/cache_functions/cal_type.py
  examples/omnigen2/omnigen2/cache_functions/force_scheduler.py
  examples/omnigen2/omnigen2/models/__init__.py
  examples/omnigen2/omnigen2/models/attention_processor.py
  examples/omnigen2/omnigen2/models/embeddings.py
  examples/omnigen2/omnigen2/models/fa_utils.py
  examples/omnigen2/omnigen2/models/transformers/__init__.py
  examples/omnigen2/omnigen2/models/transformers/block_lumina2.py
  examples/omnigen2/omnigen2/models/transformers/components.py
  examples/omnigen2/omnigen2/models/transformers/repo.py
  examples/omnigen2/omnigen2/models/transformers/transformer_omnigen2.py
  examples/omnigen2/omnigen2/pipelines/__init__.py
  examples/omnigen2/omnigen2/pipelines/image_processor.py
  examples/omnigen2/omnigen2/pipelines/lora_pipeline.py
  examples/omnigen2/omnigen2/pipelines/omnigen2/__init__.py
  examples/omnigen2/omnigen2/pipelines/omnigen2/pipeline_omnigen2.py
  examples/omnigen2/omnigen2/pipelines/omnigen2/pipeline_omnigen2_chat.py
  examples/omnigen2/omnigen2/pipelines/pipeline_utils.py
  examples/omnigen2/omnigen2/schedulers/__init__.py
  examples/omnigen2/omnigen2/schedulers/scheduling_dpmsolver_multistep.py
  examples/omnigen2/omnigen2/schedulers/scheduling_flow_match_euler_discrete.py
  examples/omnigen2/omnigen2/taylorseer_utils/__init__.py
  examples/omnigen2/omnigen2/transport/__init__.py
  examples/omnigen2/omnigen2/transport/dpm_solver.py
  examples/omnigen2/omnigen2/transport/path.py
  examples/omnigen2/omnigen2/transport/transport.py
  examples/omnigen2/omnigen2/transport/utils.py
  examples/omnigen2/omnigen2/utils/__init__.py
  examples/omnigen2/omnigen2/utils/img_util.py
  examples/omnigen2/omnigen2/utils/reproducibility.py
  examples/omnigen2/omnigen2/utils/teacache_util.py
  examples/omnigen2/requirements.txt
  examples/omnigen2/scripts/inference.py
  examples/omnigen2/scripts/run/example_edit.sh
  examples/omnigen2/scripts/run/example_in_context_generation.sh
  examples/omnigen2/scripts/run/example_t2i.sh
  examples/omnigen2/scripts/run/example_understanding.sh
  mindone/transformers/generation/stopping_criteria.py
  mindone/transformers/generation/utils.py
  mindone/transformers/mindspore_adapter/layers_compat.py
  mindone/transformers/modeling_utils.py
Labels: new model

#1229 fix(transformers): fix some bugs
  mindone/transformers/integrations/sdpa_attention.py
  mindone/utils/weight_norm.py
  tests/modeling_test_utils.py
  tests/transformers_tests/integrations/test_sdpa_attention.py
  tests/transformers_tests/models/xlm_roberta_xl/test_modeling_xlm_roberta_xl.py
Labels: bug

#1202 [feature] Add Language SAM to examples
  examples/lang_sam/README.md
  examples/lang_sam/README_CN.md
  examples/lang_sam/checkpoints/download_ckpts.sh
  examples/lang_sam/lang_sam/__init__.py
  examples/lang_sam/lang_sam/lang_sam.py
  examples/lang_sam/lang_sam/models/__init__.py
  examples/lang_sam/lang_sam/models/gdino.py
  examples/lang_sam/lang_sam/models/sam.py
  examples/lang_sam/lang_sam/models/utils.py
  examples/lang_sam/lang_sam/utils.py
  examples/lang_sam/predict_image.py
  examples/lang_sam/requirements.txt
Labels: new model

#1175 feat(transformers): add new model grounding dino
  mindone/transformers/__init__.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/grounding_dino/__init__.py
  mindone/transformers/models/grounding_dino/image_processing_grounding_dino.py
  mindone/transformers/models/grounding_dino/modeling_grounding_dino.py
  mindone/transformers/models/grounding_dino/processing_grounding_dino.py
  mindone/transformers/utils/backbone_utils.py
  tests/transformers_tests/models/grounding_dino/__init__.py
  tests/transformers_tests/models/grounding_dino/test_modeling_grounding_dino.py
Labels: new model

#1188 [Bug]: fix from_pretrained bug in opensora_pku and mmada
  examples/mmada/models/modeling_utils.py
  examples/mmada/training/train_mmada_stage2.py
  examples/opensora_pku/README.md
  examples/opensora_pku/opensora/dataset/t2v_datasets.py
  examples/opensora_pku/opensora/models/causalvideovae/model/modeling_videobase.py
  examples/opensora_pku/opensora/models/causalvideovae/model/vae/modeling_causalvae.py
  examples/opensora_pku/opensora/models/causalvideovae/model/vae/modeling_wfvae.py
  examples/opensora_pku/opensora/models/diffusion/opensora/modeling_opensora.py
  examples/opensora_pku/tools/ckpt/merge_safetensors.py
Labels: bug

#1259 feat(transformers) add model CLVP and ColPali
  mindone/transformers/__init__.py
  mindone/transformers/image_processing_utils_fast.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/auto/processing_auto.py
  mindone/transformers/models/clvp/__init__.py
  mindone/transformers/models/clvp/modeling_clvp.py
  mindone/transformers/models/colpali/__init__.py
  mindone/transformers/models/colpali/modeling_colpali.py
  mindone/transformers/models/colpali/processing_colpali.py
  mindone/transformers/models/paligemma/modeling_paligemma.py
  tests/transformers_tests/models/clvp/__init__.py
  tests/transformers_tests/models/clvp/test_modeling_clvp.py
  tests/transformers_tests/models/colpali/__init__.py
  tests/transformers_tests/models/colpali/test_modeling_colpali.py
Labels: feature, new model

#1225 feat(transformers) add Vision Text Dual Encoder
  mindone/transformers/__init__.py
  mindone/transformers/models/vision_text_dual_encoder/__init__.py
  mindone/transformers/models/vision_text_dual_encoder/modeling_vision_text_dual_encoder.py
  tests/transformers_tests/models/vision_text_dual_encoder/__init__.py
  tests/transformers_tests/models/vision_text_dual_encoder/test_modeling_vision_text_dual_encoder.py
Labels: new model

#1223 feat(transformers) add model Segment Anything (SAM)
  mindone/transformers/__init__.py
  mindone/transformers/mindspore_adapter/batched_nms.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/image_processing_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/auto/processing_auto.py
  mindone/transformers/models/sam/__init__.py
  mindone/transformers/models/sam/image_processing_sam.py
  mindone/transformers/models/sam/modeling_sam.py
  mindone/transformers/models/sam/processing_sam.py
  tests/transformers_tests/models/sam/__init__.py
  tests/transformers_tests/models/sam/test_modeling_sam.py
Labels: new model

#1243 [FEATURE] Add Wan2.2 Inference
  README.md
  examples/wan2_2/README.md
  examples/wan2_2/examples/.gitkeep
  examples/wan2_2/generate.py
  examples/wan2_2/requirements.txt
  examples/wan2_2/wan/__init__.py
  examples/wan2_2/wan/configs/__init__.py
  examples/wan2_2/wan/configs/shared_config.py
  examples/wan2_2/wan/configs/wan_i2v_A14B.py
  examples/wan2_2/wan/configs/wan_s2v_14B.py
  examples/wan2_2/wan/configs/wan_t2v_A14B.py
  examples/wan2_2/wan/configs/wan_ti2v_5B.py
  examples/wan2_2/wan/distributed/__init__.py
  examples/wan2_2/wan/distributed/sequence_parallel.py
  examples/wan2_2/wan/distributed/ulysses.py
  examples/wan2_2/wan/distributed/util.py
  examples/wan2_2/wan/distributed/zero.py
  examples/wan2_2/wan/image2video.py
  examples/wan2_2/wan/modules/__init__.py
  examples/wan2_2/wan/modules/attention.py
  examples/wan2_2/wan/modules/model.py
  examples/wan2_2/wan/modules/s2v/__init__.py
  examples/wan2_2/wan/modules/s2v/audio_encoder.py
  examples/wan2_2/wan/modules/s2v/audio_utils.py
  examples/wan2_2/wan/modules/s2v/auxi_blocks.py
  examples/wan2_2/wan/modules/s2v/model_s2v.py
  examples/wan2_2/wan/modules/s2v/motioner.py
  examples/wan2_2/wan/modules/s2v/s2v_utils.py
  examples/wan2_2/wan/modules/t5.py
  examples/wan2_2/wan/modules/tokenizers.py
  examples/wan2_2/wan/modules/vae2_1.py
  examples/wan2_2/wan/modules/vae2_2.py
  examples/wan2_2/wan/speech2video.py
  examples/wan2_2/wan/text2video.py
  examples/wan2_2/wan/textimage2video.py
  examples/wan2_2/wan/utils/__init__.py
  examples/wan2_2/wan/utils/amp.py
  examples/wan2_2/wan/utils/fm_solvers.py
  examples/wan2_2/wan/utils/fm_solvers_unipc.py
  examples/wan2_2/wan/utils/prompt_extend.py
  examples/wan2_2/wan/utils/system_prompt.py
  examples/wan2_2/wan/utils/utils.py
  mindone/transformers/models/wav2vec2/modeling_wav2vec2.py
Labels: feature request

#1097 feat[transformers] add Bloom model
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/bloom/__init__.py
  mindone/transformers/models/bloom/modeling_bloom.py
  tests/transformers_tests/models/bloom/__init__.py
  tests/transformers_tests/models/bloom/test_modeling_bloom.py
Labels: new model

#1252 feat(transformers): Add model Dac
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/dac/__init__.py
  mindone/transformers/models/dac/modeling_dac.py
  tests/transformers_tests/models/dac/__init__.py
  tests/transformers_tests/models/dac/test_modeling_dac.py
Labels: new model

#1277 feat(transformers): Add model UniSpeech & UniSpeech-Sat
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/unispeech/__init__.py
  mindone/transformers/models/unispeech/modeling_unispeech.py
  mindone/transformers/models/unispeech_sat/__init__.py
  mindone/transformers/models/unispeech_sat/modeling_unispeech_sat.py
  tests/transformers_tests/models/unispeech/__init__.py
  tests/transformers_tests/models/unispeech/test_modeling_unispeech.py
  tests/transformers_tests/models/unispeech_sat/__init__.py
  tests/transformers_tests/models/unispeech_sat/test_modeling_unispeech_sat.py
Labels: new model

#1281 feat&fix(transformers) Add model `Speech-Encoder-Decoder`; Supplement `Wav2Vec2` UT and fix bugs
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/speech_encoder_decoder/__init__.py
  mindone/transformers/models/speech_encoder_decoder/modeling_speech_encoder_decoder.py
  mindone/transformers/models/wav2vec2/modeling_wav2vec2.py
  tests/transformers_tests/models/bert/test_modeling_bert.py
  tests/transformers_tests/models/speech_encoder_decoder/__init__.py
  tests/transformers_tests/models/speech_encoder_decoder/test_modeling_speech_encoder_decoder.py
  tests/transformers_tests/models/wav2vec2/__init__.py
  tests/transformers_tests/models/wav2vec2/test_modeling_wav2vec2.py
Labels: bug, new model

#1290 feat(transformers): add X-CLIP
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/x_clip/__init__.py
  mindone/transformers/models/x_clip/modeling_x_clip.py
  tests/transformers_tests/models/owlvit/test_modeling_owlvit.py
  tests/transformers_tests/models/x_clip/__init__.py
  tests/transformers_tests/models/x_clip/test_modeling_x_clip.py
Labels: new model

#1297 feat(transformers) add models TrOCR and TVP
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/trocr/__init__.py
  mindone/transformers/models/trocr/modeling_trocr.py
  mindone/transformers/models/tvp/__init__.py
  mindone/transformers/models/tvp/modeling_tvp.py
  tests/transformers_tests/models/trocr/__init__.py
  tests/transformers_tests/models/trocr/test_modeling_trocr.py
  tests/transformers_tests/models/tvp/__init__.py
  tests/transformers_tests/models/tvp/test_modeling_tvp.py
  tests/transformers_tests/models/vjepa2/test_modeling_vjepa2.py
Labels: bug, new model

#1316 fix(transformers): fix lilt empty docstring
  mindone/transformers/models/lilt/modeling_lilt.py
Labels: bug

#1262 feat(transformers) Add model mgp_str and fix bugs in processor_utils
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/mgp_str/__init__.py
  mindone/transformers/models/mgp_str/modeling_mgp_str.py
  mindone/transformers/models/mgp_str/processing_mgp_str.py
  mindone/transformers/processing_utils.py
  tests/transformers_tests/models/mgp_str/__init__.py
  tests/transformers_tests/models/mgp_str/test_modeling_mgp_str.py
Labels: bug, new model

#1321 feat(transformers/models): add vision models, vit series and zeodepth
  mindone/models/utils.py
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/vit_msn/__init__.py
  mindone/transformers/models/vit_msn/modeling_vit_msn.py
  mindone/transformers/models/vitdet/__init__.py
  mindone/transformers/models/vitdet/modeling_vitdet.py
  mindone/transformers/models/vitmatte/__init__.py
  mindone/transformers/models/vitmatte/modeling_vitmatte.py
  mindone/transformers/models/vitpose/__init__.py
  mindone/transformers/models/vitpose/modeling_vitpose.py
  mindone/transformers/models/vitpose_backbone/__init__.py
  mindone/transformers/models/vitpose_backbone/modeling_vitpose_backbone.py
  mindone/transformers/models/zoedepth/__init__.py
  mindone/transformers/models/zoedepth/modeling_zoedepth.py
  tests/transformers_tests/models/vit_msn/__init__.py
  tests/transformers_tests/models/vit_msn/test_modeling_vit_msn.py
  tests/transformers_tests/models/vitdet/__init__.py
  tests/transformers_tests/models/vitdet/test_modeling_vitdet.py
  tests/transformers_tests/models/vitmatte/__init__.py
  tests/transformers_tests/models/vitmatte/test_modeling_vitmatte.py
  tests/transformers_tests/models/vitpose/__init__.py
  tests/transformers_tests/models/vitpose/test_modeling_vitpose.py
  tests/transformers_tests/models/vitpose_backbone/__init__.py
  tests/transformers_tests/models/vitpose_backbone/test_modeling_vitpose_backbone.py
  tests/transformers_tests/models/zoedepth/__init__.py
  tests/transformers_tests/models/zoedepth/test_modeling_zoedepth.py
Labels: new model

#1305 feat(transformers): add Codegen
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/codegen/__init__.py
  mindone/transformers/models/codegen/modeling_codegen.py
  tests/transformers_tests/models/codegen/__init__.py
  tests/transformers_tests/models/codegen/test_modeling_codegen.py
Labels: new model

#1088 feat(transformers/models): Add Fsmt model
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/fsmt/__init__.py
  mindone/transformers/models/fsmt/modeling_fsmt.py
  tests/transformers_tests/models/fsmt/__init__.py
  tests/transformers_tests/models/fsmt/test_modeling_fsmt.py
Labels: new model

#1070 feat(transformers/models): Add Stablelm model
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/stablelm/__init__.py
  mindone/transformers/models/stablelm/modeling_stablelm.py
  tests/transformers_tests/models/stablelm/__init__.py
  tests/transformers_tests/models/stablelm/test_modeling_stablelm.py
Labels: new model

#1224 [FEATURE] Add CvT & Chinese-CLIP
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/feature_extraction_auto.py
  mindone/transformers/models/auto/image_processing_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/auto/processing_auto.py
  mindone/transformers/models/chinese_clip/__init__.py
  mindone/transformers/models/chinese_clip/feature_extraction_chinese_clip.py
  mindone/transformers/models/chinese_clip/image_processing_chinese_clip.py
  mindone/transformers/models/chinese_clip/modeling_chinese_clip.py
  mindone/transformers/models/chinese_clip/processing_chinese_clip.py
  mindone/transformers/models/cvt/__init__.py
  mindone/transformers/models/cvt/modeling_cvt.py
  tests/transformers_tests/models/chinese_clip/__init__.py
  tests/transformers_tests/models/chinese_clip/test_modeling_chinese_clip.py
  tests/transformers_tests/models/cvt/__init__.py
  tests/transformers_tests/models/cvt/test_modeling_cvt.py
Labels: new model

#1239 [FEATURE] add DepthPro & EfficientNet
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/image_processing_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/depth_pro/__init__.py
  mindone/transformers/models/depth_pro/image_processing_depth_pro.py
  mindone/transformers/models/depth_pro/modeling_depth_pro.py
  mindone/transformers/models/efficientnet/__init__.py
  mindone/transformers/models/efficientnet/image_processing_efficientnet.py
  mindone/transformers/models/efficientnet/modeling_efficientnet.py
  tests/transformers_tests/models/depth_pro/__init__.py
  tests/transformers_tests/models/depth_pro/test_modeling_depth_pro.py
  tests/transformers_tests/models/efficientnet/__init__.py
  tests/transformers_tests/models/efficientnet/test_modeling_effecientnet.py
Labels: new model

#1112 feat(transformers/models):add Gpt neox japanese
  mindone/transformers/models/gpt_neox_japanese/__init__.py
  mindone/transformers/models/gpt_neox_japanese/modeling_gpt_neox_japanese.py
  tests/transformers_tests/models/gpt_neox_japanese/__init__.py
  tests/transformers_tests/models/gpt_neox_japanese/test_modeling_gpt_neox_japanese.py
Labels: new model

#1147 feat(transformers/models): add models of diffllama, olmoe, etc
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/diffllama/__init__.py
  mindone/transformers/models/diffllama/modeling_diffllama.py
  mindone/transformers/models/encoder_decoder/__init__.py
  mindone/transformers/models/encoder_decoder/modeling_encoder_decoder.py
  mindone/transformers/models/olmoe/__init__.py
  mindone/transformers/models/olmoe/modeling_olmoe.py
  tests/transformers_tests/models/bert/test_modeling_bert.py
  tests/transformers_tests/models/diffllama/__init__.py
  tests/transformers_tests/models/diffllama/test_modeling_diffllama.py
  tests/transformers_tests/models/encoder_decoder/__init__.py
  tests/transformers_tests/models/encoder_decoder/test_modeling_encoder_decoder.py
  tests/transformers_tests/models/olmoe/__init__.py
  tests/transformers_tests/models/olmoe/test_modeling_olmoe.py
Labels: new model

#1319 feat(transformers/models): add models of Upernet
  mindone/transformers/__init__.py
  mindone/transformers/models/upernet/__init__.py
  mindone/transformers/models/upernet/modeling_upernet.py
  tests/transformers_tests/models/upernet/test_modeling_upernet.py
Labels: new model

#1315 feat(transformers/models): add models of Prompt depth anything
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/prompt_depth_anything/__init__.py
  mindone/transformers/models/prompt_depth_anything/modeling_prompt_depth_anything.py
  tests/transformers_tests/models/prompt_depth_anything/__init__.py
  tests/transformers_tests/models/prompt_depth_anything/test_modeling_prompt_depth_anything.py
Labels: new model

#1117 feat[transformers] add rocbert model
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/roc_bert/__init__.py
  mindone/transformers/models/roc_bert/modeling_roc_bert.py
  tests/transformers_tests/models/roc_bert/__init__.py
  tests/transformers_tests/models/roc_bert/test_modeling_roc_bert.py
Labels: new model

#1266 feats(transformers):add roformer model
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/roformer/__init__.py
  mindone/transformers/models/roformer/modeling_roformer.py
  tests/transformers_tests/models/roformer/__init__.py
  tests/transformers_tests/models/roformer/test_modeling_roformer.py
Labels: new model

#1287 feat(transformers):add xlnet model
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/xlnet/__init__.py
  mindone/transformers/models/xlnet/modeling_xlnet.py
  tests/transformers_tests/models/xlnet/__init__.py
  tests/transformers_tests/models/xlnet/test_modeling_xlnet.py
Labels: new model

#1265 feats(transformers)add yoso model
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/yoso/__init__.py
  mindone/transformers/models/yoso/modeling_yoso.py
  tests/transformers_tests/models/yoso/__init__.py
  tests/transformers_tests/models/yoso/test_modeling_yoso.py
Labels: new model

#1176 feat(transformers/models): add xmod, falcon_mamba, etc
  mindone/transformers/__init__.py
  mindone/transformers/activations.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/beit/__init__.py
  mindone/transformers/models/beit/modeling_beit.py
  mindone/transformers/models/falcon_mamba/__init__.py
  mindone/transformers/models/falcon_mamba/modeling_falcon_mamba.py
  mindone/transformers/models/pvt/__init__.py
  mindone/transformers/models/pvt/modeling_pvt.py
  mindone/transformers/models/pvt_v2/__init__.py
  mindone/transformers/models/pvt_v2/modeling_pvt_v2.py
  mindone/transformers/models/xmod/__init__.py
  mindone/transformers/models/xmod/modeling_xmod.py
  tests/transformers_tests/models/beit/__init__.py
  tests/transformers_tests/models/beit/test_modeling_beit.py
  tests/transformers_tests/models/falcon_mamba/__init__.py
  tests/transformers_tests/models/falcon_mamba/test_modeling_falcon_mamba.py
  tests/transformers_tests/models/pvt/__init__.py
  tests/transformers_tests/models/pvt/test_modeling_pvt.py
  tests/transformers_tests/models/pvt_v2/__init__.py
  tests/transformers_tests/models/pvt_v2/test_modeling_pvt_v2.py
  tests/transformers_tests/models/xmod/__init__.py
  tests/transformers_tests/models/xmod/test_modeling_xmod.py
Labels: new model

#1318 feat(transformers/models): add models of Seg gpt
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/seggpt/__init__.py
  mindone/transformers/models/seggpt/modeling_seggpt.py
  tests/transformers_tests/models/seggpt/__init__.py
  tests/transformers_tests/models/seggpt/test_modeling_seggpt.py
Labels: new model

#1306 feat(transformers): Add Oneformer
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/image_processing_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/auto/processing_auto.py
  mindone/transformers/models/oneformer/__init__.py
  mindone/transformers/models/oneformer/image_processing_oneformer.py
  mindone/transformers/models/oneformer/modeling_oneformer.py
  mindone/transformers/models/oneformer/processing_oneformer.py
  tests/modeling_test_utils.py
  tests/transformers_tests/models/oneformer/__init__.py
  tests/transformers_tests/models/oneformer/test_modeling_oneformer.py
Labels: new model

#1308 feat(transformers): Add Shieldgemma2
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/auto_factory.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/gemma3/modeling_gemma3.py
  mindone/transformers/models/shieldgemma2/__init__.py
  mindone/transformers/models/shieldgemma2/modeling_shieldgemma2.py
  tests/transformers_tests/models/shieldgemma2/__init__.py
  tests/transformers_tests/models/shieldgemma2/test_modeling_shieldgemma2.py
Labels: new model

#1283 feat(transformers): add Udop
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/udop/__init__.py
  mindone/transformers/models/udop/modeling_udop.py
  tests/transformers_tests/models/udop/__init__.py
  tests/transformers_tests/models/udop/test_modeling_udop.py
Labels: new model

#1286 feat(transformers):add mobilevit & mobilevitv2 model
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/mobilevit/__init__.py
  mindone/transformers/models/mobilevit/modeling_mobilevit.py
  mindone/transformers/models/mobilevitv2/__init__.py
  mindone/transformers/models/mobilevitv2/modeling_mobilevitv2.py
  tests/transformers_tests/models/mobilevit/__init__.py
  tests/transformers_tests/models/mobilevit/test_modeling_mobilevit.py
  tests/transformers_tests/models/mobilevitv2/__init__.py
  tests/transformers_tests/models/mobilevitv2/test_modeling_mobilevitv2.py
Labels: new model

#1204 feats[transformers]add pipelines and videomae model
  mindone/transformers/__init__.py
  mindone/transformers/data/processors/squad.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/image_processing_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/videomae/__init__.py
  mindone/transformers/models/videomae/image_processing_videomae.py
  mindone/transformers/models/videomae/modeling_videomae.py
  mindone/transformers/pipelines/__init__.py
  mindone/transformers/pipelines/document_question_answering.py
  mindone/transformers/pipelines/token_classification.py
  mindone/transformers/pipelines/video_classification.py
  tests/transformers_tests/models/videomae/__init__.py
  tests/transformers_tests/models/videomae/test_modeling_videomae.py
Labels: new model

#1270 feats(transformers):add mra model
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/mra/__init__.py
  mindone/transformers/models/mra/modeling_mra.py
  tests/transformers_tests/models/mra/__init__.py
  tests/transformers_tests/models/mra/test_modeling_mra.py
Labels: new model

#1325 feats(transformers):add reformer model
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/reformer/__init__.py
  mindone/transformers/models/reformer/modeling_reformer.py
  tests/transformers_tests/models/reformer/__init__.py
  tests/transformers_tests/models/reformer/test_modeling_reformer.py
Labels: new model

#1312 feat(transformers): Add model wav2vec2_conformer & wav2vec2_bert
  mindone/transformers/__init__.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/wav2vec2_bert/__init__.py
  mindone/transformers/models/wav2vec2_bert/modeling_wav2vec2_bert.py
  mindone/transformers/models/wav2vec2_bert/processing_wav2vec2_bert.py
  mindone/transformers/models/wav2vec2_conformer/__init__.py
  mindone/transformers/models/wav2vec2_conformer/modeling_wav2vec2_conformer.py
  tests/transformers_tests/models/wav2vec2_bert/test_modeling_wav2vec2_bert.py
  tests/transformers_tests/models/wav2vec2_comformer/test_modeling_wav2vec2_conformer.py
Labels: new model

#1274 feat(transformers): add Jamba
  mindone/transformers/__init__.py
  mindone/transformers/generation/utils.py
  mindone/transformers/models/__init__.py
  mindone/transformers/models/auto/configuration_auto.py
  mindone/transformers/models/auto/modeling_auto.py
  mindone/transformers/models/jamba/__init__.py
  mindone/transformers/models/jamba/modeling_jamba.py
  tests/transformers_tests/models/jamba/__init__.py
  tests/transformers_tests/models/jamba/test_modeling_jamba.py
Labels: new model
